.header-text {
    color: floralwhite;
}

.cooler-font {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-header {
    color: white;
}

.underline {
    text-decoration: underline;
}

.underline:visited {
    color: white;
}

b {
    color: white;
}

b:visited {
    color:white;
}

.center {
    position: relative;
    text-align: center;
    left: 575px;
}

.center-header {
    position: relative;
    text-align: center;
    left: 0px;
}

.resume {
    margin= ;
}

.labels {
    color: black;
    background-color: rgb(236, 205, 210);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact {
    font-family: monospace;
}

.homebg {
    background-image: url(../Images/blue%20background%20img.jpeg);
}

.common {
    background-color:gainsboro;
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 4;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 20px;
    z-index: 1;
    padding-top: 10px ;
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 5px;
    bottom: 20px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
}

.footer {
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 15px;
}

.subheader { 
    float: right;
}

.header-tableau {
    font-family: fantasy;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.tableau-font {
    font-family: monospace;
}

.list-font {
    color: darkmagenta;
    font-style: initial;
    font-size: large;  
}